.containerContact{
    text-align: center;
    margin:50px 0;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:40px;
    margin:30px 0
}
/* COMPONENT: Form */
.form{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}
.containerInputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:15px;
    width: 100%;
}
.containerInputs input{
    width: 100%;
}
.containerInputs2{
    width: 100%;
}
.containerInputs2 input{
    width: 100%;
}
.containerInputs2 textarea{
    width: 100%;
    height: 60px;
    resize: none;
    background-color: none;
    border:1px solid grey;
    outline: none;
    padding:5px;
    margin:15px 0;
    font-size: .9rem;
    border-radius: 5px;
    background-color: transparent;
}
.containerInput{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.containerInput label{
    padding: 10px;
    position: absolute;
    font-size: .9rem;
    font-weight: normal;
    background-color: #121212;
    color:gray;
    left:0;
    top:13px;
    z-index: -1;
    transition: all .3s;
}
input:-webkit-autofill {
    background-color: #121212 !important;
    -webkit-box-shadow: 0 0 0 1000px #121212 inset !important;
    box-shadow: 0 0 0 1000px #121212 inset !important;
    -webkit-text-fill-color: white !important;
  }
  
.containerInput input:focus~label, .containerInput input:valid~label{
    transform: translateY(-12px) scale(.8);
    z-index: 3;
    color:white;
    padding:5px
}
.containerInput textarea:focus~label, .containerInput textarea:valid~label{
    transform: translateY(-12px) scale(.8);
    z-index: 3;
    color:white;
    padding:5px
}
.containerInput input:focus, .containerInput input:valid{
    border:1px solid white
}
.containerInput textarea:focus, .containerInput textarea:valid{
    border:1px solid white
}
.containerInput input{
    font-size: .9rem;
    padding:5px 10px;
    margin:15px 0 0 0;
    border-radius:5px;
    height: 35px;
    outline: none;
    border:1px solid grey;
    background-color: transparent;
}
.message_error, .message_correct{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    font-size: .8rem;
}
.message_error svg, .message_correct svg{
    font-size: 1rem;
}
.message_error{
    color:tomato
}
.message_correct{
    color:limegreen
}
.form__button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: 1rem;
    color:black;
    font-weight: bold;
    padding:10px;
    width:150px;
    height: 40px;
    border-radius: 20px;
    margin:10px 0;
    border:none;
    background-color: rgb(4, 138, 4);
    transition: background-color .2s;
}
.form__button:hover{
    background-color: rgb(7, 187, 7);
}

/* COMPONENT: ContactSide */
.contactSide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px
}
.contactSide__image{

}
.cardMessage{
    width: 300px;
    border-radius: 10px;
    background-color: black;
    border:1px solid grey;
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    text-align: start;
}
.cardMessage__title{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    background: linear-gradient(#09d84e, #0865bb);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color:transparent
}
.cardMessage__title svg{
    font-size: 2.5rem;
}
.cardMessage__title svg path {
    fill: url(#gradient);
}
  
.cardMessage__title h2 {
    background: linear-gradient(45deg, #25D366, #128C7E);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cardMessage__button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:10px;
    width:230px;
    background-color: rgb(39, 153, 39);
    border:1px solid black;
    border-radius: 20px;
    font-size: 1rem;
    color:black;
    font-weight: bold;
    cursor:pointer;
    transition: background-color .3s, transform .5s;
}
.cardMessage__button svg{
    font-size: 1.4rem;
}
.cardMessage__button:hover{
    background-color: rgb(34, 121, 34);
    transform: scale(103%);
}

@media screen and (max-width: 768px){
    .form{
        width: 400px;
    }
    .containerInput input{

    }
    .containerInput label{
        font-size:.8rem
    }
    .form__button{
        font-size: .9rem;
        width:135px;
        height: 40px;
    }
}
@media screen and (max-width:480px) {
    .form{
        width: 270px;
    }
    .containerInput input{
        padding:3px 7px;
    }
    .containerInput label{
        font-size:.75rem
    }
    .containerInputs{
        flex-wrap: wrap;
        gap:0
    }
    .form__button{
        font-size: .8rem;
        width:120px;
        height: 35px;
    }
    .cardMessage{
        width: 270px;
        border-radius: 5px;
        padding:15px;
        gap:15px
    }
    .cardMessage h4{
        font-size: .9rem;
    }
    .cardMessage p{
        font-size: .9rem;
    }
    .cardMessage__title{
        gap:5px;
    }
    .cardMessage__title svg{
        font-size: 2rem;
    }
    .cardMessage__title h2{
        font-size: 1.3rem;
    }
    .cardMessage__button{
        gap:5px;
        width:220px;
        font-size: .9rem;
    }
}