.containerContact{
    text-align: center;
    margin:50px 0;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:30px 0
}
/* COMPONENT: Form */
.form{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}
.containerInputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:15px;
    width: 100%;
}
.containerInputs input{
    width: 100%;
}
.containerInputs2{
    width: 100%;
}
.containerInputs2 input{
    width: 100%;
}
.containerInputs2 textarea{
    width: 100%;
    height: 60px;
    resize: none;
    background-color: none;
    border:1px solid grey;
    outline: none;
    padding:5px;
    margin:15px 0;
    font-size: .9rem;
    border-radius: 5px;
    background-color: transparent;
}
.containerInput{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.containerInput label{
    padding: 10px;
    position: absolute;
    font-size: .9rem;
    background-color: #121212;
    color:gray;
    left:0;
    top:13px;
    z-index: -1;
    transition: all .3s;
}
input:-webkit-autofill {
    background-color: #121212 !important;
    -webkit-box-shadow: 0 0 0 1000px #121212 inset !important;
    box-shadow: 0 0 0 1000px #121212 inset !important;
    -webkit-text-fill-color: white !important;
  }
  
.containerInput input:focus~label, .containerInput input:valid~label{
    transform: translateY(-12px) scale(.8);
    z-index: 3;
    color:white;
    padding:5px
}
.containerInput textarea:focus~label, .containerInput textarea:valid~label{
    transform: translateY(-12px) scale(.8);
    z-index: 3;
    color:white;
    padding:5px
}
.containerInput input:focus, .containerInput input:valid{
    border:1px solid white
}
.containerInput textarea:focus, .containerInput textarea:valid{
    border:1px solid white
}
.containerInput input{
    font-size: .9rem;
    padding:5px 10px;
    margin:15px 0 0 0;
    border-radius:5px;
    height: 35px;
    outline: none;
    border:1px solid grey;
    background-color: transparent;
}
.message_error, .message_correct{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    font-size: .8rem;
}
.message_error svg, .message_correct svg{
    font-size: 1rem;
}
.message_error{
    color:tomato
}
.message_correct{
    color:limegreen
}
.form__button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: 1rem;
    color:black;
    font-weight: bold;
    padding:10px;
    width:150px;
    height: 40px;
    border-radius: 20px;
    margin:10px 0;
    border:1px solid gray;
    background-color: rgb(34, 151, 34);
}


/* COMPONENT: ContactSide */
.contactSide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px
}
.contactSide__image{

}
.cardMessage{
    width: 300px;
    border-radius: 10px;
    background-color: black;
    border:1px solid grey;
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px
}
.cardMessage__button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:10px;
    width:230px;
    background-color: rgb(39, 153, 39);
    border:1px solid black;
    border-radius: 20px;
    font-size: 1rem;
}
.cardMessage__button svg{
    font-size: 1.4rem;
}