.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    position: relative;
    top:0;
    z-index: 1;
    background-color: black;
}
/* COMPONENT: HeroInfo */
.heroInfo{
    margin:100px
}
.heroInfo__text{
    width:400px;
}
.heroInfo__text h1{
    font-family: "Inter", "sans serif";
    font-size:1.9rem;
    padding: 5px 0;
    color:black;
    text-shadow:
    -1px -1px 0 orangered,
    -1px 1px 0 orangered,
    1px 1px 0 orangered,
    1px -1px 0 orangered;
}
.heroInfo__text p{
    font-weight: 300;
    margin:15px 0;
    font-family: "Inter";
}
.heroInfo__text h3 h2{
    font-family: 'Poppins';
    font-weight: 100;
}

.heroInfo__links{
    margin:20px 10px;
    display: flex;
    align-items: center;
}
.heroInfo__links a{
    width:25px;
    height:25px;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.2rem;
    color:white;
    transition:font-size .2s
}
.heroInfo__links a:hover{
    font-size: 1.4rem;
}
.heroInfo__button{
    background-color: rgb(43, 167, 74);
    width:150px;
    height: 35px;
    padding:5px;
    border-radius: 20px;
    border:none;
    color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: .8rem;
    font-weight: bold;
    cursor:pointer;
    transition: background-color .2s;
}
.heroInfo__button:hover{
    background-color:rgb(0, 155, 39) ;
}
.heroInfo__button_icon{
    font-size: 1.2rem;
}
/* COMPONENT: HeroImage */
.hero__containerImage{
    
}
.hero__image{
    filter:drop-shadow(1px 1px 3px rgba(0, 204, 255, 0.404));
    transition:filter .2s
}
.hero__image:hover{
    filter:drop-shadow(1px 1px 5px rgba(0, 204, 255, 0.404));
}
.word_animation1{
    animation: text_animation 2s ease-in-out forwards;
}
.word_animation2{
    animation: text_animation 7s ease-in-out forwards;
}
.word_animation3{
    animation: text_animation 11s ease-in-out forwards;
}
.word_animation4{
    animation: text_animation 15s ease-in-out forwards;
}
@keyframes text_animation{
    0%{
        color:white
    }
    50%{
        color:lightblue
    }
    100%{
        color:lightseagreen
    }
}