.containerProjects{
    text-align: center;
    margin-top:200px;
}
.projects{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
    margin:100px auto;
}
/* COMPONENT: CardProject */
.card{
    width:350px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(10px);
    border:1px solid lightblue;
    border-radius:5px;
    padding:15px;
}

.tags{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    font-weight: normal;
}
.tags li{
    height: 25px;
    border-radius: 10px;
    padding:7px;
    border:1px solid lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 8, 8);
    gap:5px;
    font-size: .8rem;
}
.card > h4{
    margin:10px;
}
.card > p{
    font-size: .9rem;
    margin:10px 0;
    text-align: start;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    border-radius: 5px;
}
.button__demo, .button__github{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    width:120px;
    height: 45px;
    padding:10px;
    background-color: transparent;
    outline: none;
    color:white;
    text-decoration: none;
    border:1px solid orange;
    border-radius: 25px;
    font-weight: bold;
    transition:background-color .5s ease-in-out, color .2s
}
.button_icon{
    font-size: 1.2rem;
}
.button__demo:hover, .button__github:hover{
    background-color: orange;
    color:black
}
@media screen and (max-width: 768px){
    .card{
        width:300px;
        height: 400px;
        padding: 10px;
    }
    .button__demo, .button__github{
        width:120px;
        height: 40px;
    }
}
@media screen and (max-width:480px) {
    .card{
        width:280px;
        height: min-content;
        padding: 20px 10px;
    }
    .image{
        width: 220px;
        height: 120px;
    }
    .button{
        gap:5px;
        border-radius: 5px;
    }
    .card > p{
        font-size: .85rem;
    }
    .button a p{
        font-size: .8rem;
    }
    .button__demo, .button__github{
        gap:5px;
        width:100px;
        height: 35px;
        padding:5px;
    }
    .button_icon{
        font-size: 1rem;
    }
    .tags{
        gap:5px;
    }
    .tags li{
        height: 25px;
        padding:5px;
        font-size: .7rem;
    }
}