.stats{
    height: min-content;
    padding:30px;
    background-color: black;
    border-bottom:1px solid lightseagreen;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:30px;
    flex-wrap:wrap;
    border-radius: 0 0 50px 50px;
}
.statsCard{
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
    
}
.statsCard p{
    display: block;
}
.statsCard__number{
    font-size: 2.9rem;
    color:orangered;
    font-weight: bold;
}
@media screen and (max-width: 768px){
    .stats{
        padding:20px 0;
        border-radius: 0 0 30px 30px;
    }
    .statsCard{
        width:min-content;
        
    }
    .statsCard__number{
        font-size: 2.3rem;
    }
    .statsCard__name{
        font-size: .9rem;
    }
}
@media screen and (max-width:480px) {
    .stats{
        border-radius: 0 0 20px 20px;
    }
    .statsCard__number{
        font-size: 2rem;
    }
    .statsCard__name{
        font-size: .8rem;
    }
}